.blog-post-card {
    flex: 1;
    margin: 5px;
    box-shadow: 2px 2px 5px #b1b1b1;
    background-color: #f3f3f3;
    padding: 15px;
    color: #504f4f;
    cursor: pointer;
}

.blog-post-card:hover {
    color: black;
    background-color: #f9f9f9;    
    box-shadow: 3px 3px 5px #b1b1b1;    
}

.blog-post-card:hover .blog-post-card-content h3 {
    text-decoration: underline;
}

.blog-post-card-content--title {
    color: black;
}

.blog-post-card__admin {
    display: flex;
}

.blog-post-card__admin .blog-post-card-content {
    flex: 1;
    padding: 15px;
}

.blog-post-card__admin .blog-post-card-content p {
    margin-bottom: 5px;
}

.blog-post-card__admin .blog-post-card-controls {
    flex: 0 0 50px;
    padding: 15px; 
}

.blog-post-card__admin .blog-post-card-controls input {
    width: 100%;
}

.blog-post-card__admin .blog-post-card-controls input.delete {
    background-color: #ff7171;
}

.blog-post-card__admin .blog-post-card-controls input.cancel {
    background-color: #ffbd71;
}

.blog-post-card__admin .blog-post-card-content textarea {
    height: 150px;
}

.blog-post-card__admin .blog-post-card-content input, .blog-post-card__admin .blog-post-card-content textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.blog-post-card-content__edit-header {
    border-bottom: 2px solid black;
}