.blog-posts-overview {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.blog-posts-overview--header {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

@media (min-width: 1000px) {
    .blog-posts-overview {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .blog-posts-overview--header {
        width: 100%;
    }
}
