.blog-posts-overview {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.blog-posts-overview--header {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}