.footer {
    background-color: #383838;
    color: white;
    padding: 30px;
    text-align: center;
    background-image: url('../resources/zebra_pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid black;
}

.footer-backdrop {
    background-color: rgba(47, 47, 47, 0.77);
    padding: 30px;
}

.footer--text {
    font-size: 1em;
    margin: 15px;
}

.footer--text__fine {
    font-size: 0.7em;
    color: #eee;
}

.footer a {
    color: inherit;
}